<h1><%= @recipe.name %> | <%= link_to @category.name, category_recipes_path(@category) %> Recipes</h1>
<p><strong>Directions</strong>:</p><p><%= @recipe.directions %></p>
<p><strong>Estimated Time</strong>: <%= @recipe.estimated_time %> minutes</p>
<p><strong>Ingredients</strong></p>
<ul>
    <% @recipe.recipe_ingredients.each do |ri| %>
        <li><%= ri.ingredient.name %> &ndash; <%= pluralize(ri.quantity, ri.ingredient.units) %></li>
    <% end %>
</ul>
<h4>Ratings:</h4>

<%= render partial: 'ratings/show', collection: @ratings, as: :rating %>
<%= render 'ratings/new' %>
<p><%= link_to 'Edit', edit_category_recipe_path(@category, @recipe) %></p>
<p><%= link_to "Back to #{@category.name} recipes", category_recipes_path(@category) %></p>