<h1>New User</h1>
<%= form_with model: @user, url: user_path, local: true do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved</h2>
            <ul>
                <% @user.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %>
            </ul>
        </div>
    <% end %>
    <p><strong><%= f.label :name %> </strong><%= f.text_field :name %></p>
    <p><strong><%= f.label :email %> </strong><%= f.email_field :email %></p>
    <p><strong><%= f.label :password %> </strong><%= f.password_field :password %></p>
    <p><strong><%= f.label :password_confirmation %> </strong><%= f.password_field :password_confirmation %></p>
    <p><%= f.submit %></p>
<% end %>
<p>Already have an account? <%= link_to 'Login', new_session_path %></p>