<!DOCTYPE html>
<html>
  <head>
    <title>RecipeManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div><strong><%= type.titleize %>:</strong> <%= msg %> </div>
    <% end %>
    <%= yield %>
  </body>
</html>
